.bodyGame {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenedorTableros {
    display: flex;
    gap: 20px; /* Ajusta el espacio entre los tableros según tus preferencias */
  }
  
  .tableroJugador1,
  .tableroAdversario {
    margin: 10px; /* Puedes ajustar el margen según tus preferencias */
  }
  
  @media only screen and (max-width: 600px) {
    .contenedorTableros {
      flex-direction: column;
    }
  
    .tableroJugador1,
    .tableroAdversario {
      margin: 10px 0; 
    }
  }
  
  
  
  